.standard_ad_tbl td {
    padding:5px;
}
.ad-logo {
    height:30px;
    margin-bottom:10px;
}
.home-adverts {
    border:solid 3px silver;
    border-radius: 7px;
    padding:10px;
    margin-bottom:10px;
}
.home-a:hover {
    text-decoration: none!important;
    color:black;
}
.home-a {
    color:black;
}
.apply-btn {
    margin:10px;
}